<footer class="footer-section">
  <div class="footer-content">
    <p><%= t('footer.contact_message') %></p>
    <p><%= t('footer.contact_cta') %></p>
    <a href="https://www.linkedin.com/in/stephanie-el-hourany-65965b205/" target="_blank" class="linkedin-btn">
      <%= image_tag('linkedin-logo.png', alt: 'LinkedIn Logo', class: 'logo') %>
    </a>
  </div>
</footer>
