<section class="hero-section">
  <div class="hero-landing">
    <%= image_tag('landing.png', alt: t('pages.home.hero_alt'), class: 'hero-landing-image') %>
  </div>
  <h1><%= t('pages.home.title') %></h1>
</section>
