<section class="description-section">
  <div class="description-content">
    <%= image_tag('profile-pic.jpg', alt: t('pages.home.hero_alt'), class: 'profile-picture') %>
    <div class="text-content">
      <h1><%= t('pages.portfolio.title') %></h1>
      <p><%= t('pages.portfolio.subtitle') %></p>
      <p><%= t('pages.portfolio.description') %></p>
    </div>
  </div>
</section>
