<section class="portfolio-section" data-controller="image-modal">
  <div class="portfolio-content">
    <h1><%= t('pages.portfolio.title') %></h1>
    <div class="portfolio-images">
      <% (1..17).each do |i| %>
        <div
          class="portfolio-image-container"
          data-action="click->image-modal#open"
          data-image-modal-src="<%= asset_path("portfolio/optimized_#{i}.png") %>">
          <%= image_tag "portfolio/optimized_#{i}.png", alt: "Image #{i}", class: "portfolio-image", loading: "lazy" %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Fullscreen Modal -->
  <dialog class="image-modal" data-image-modal-target="modal">
    <div class="close-button" data-action="click->image-modal#close">&times;</div>
    <div class="image-wrapper" data-image-modal-target="imageWrapper">
      <img class="modal-image" data-image-modal-target="image" alt="Zoomed Image">
    </div>
    <div class="zoom-controls">
      <button data-action="click->image-modal#zoomIn" class="zoom-in">+</button>
      <button data-action="click->image-modal#zoomOut" class="zoom-out">-</button>
    </div>
  </dialog>
</section>
