.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 146px;

  .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    .linkedin-btn {
      .logo {
        width: 20px;
        height: 20px;
      }
    }
  }
}