.nav-link {
  text-decoration: none;
  color: black;
  &:hover {
    color: darkgray;
  }

  .name {
    font-size: 20px;
    font-weight: 500;
  }

  .title {
    padding-top: 5px;
    font-size: 18px;
    font-weight: 400;
  }
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: white;

  .navbar-right {
    display: flex;
    gap: 30px;

    .nav-link {
      font-size: 20px;
      font-weight: 500;
    }
  }
}