.nav-link {
  text-decoration: none;
  color: black;
  &:hover {
    color: darkgray;
  }

  .name {
    font-size: 20px;
    font-weight: 500;
  }

  .title {
    padding-top: 5px;
    font-size: 18px;
    font-weight: 400;
  }
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 90px;
  background-color: white;
  z-index: 30;

  .navbar-right {
    display: flex;
    gap: 30px;

    .nav-link {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .dropdown-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 30px;
    .navbar-right {
      display: none; /* Hide menu by default */
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: 80%;
      right: 30px;
      padding: 30px;
      gap: 30px;
      border: 1px solid #ddd;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar-right.active {
      display: flex; /* Show menu when active */
    }

    .dropdown-toggle {
      display: block; /* Show toggle button on small screens */
    }
  }

}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 0 20px;
    .navbar-right {
      right: 20px;
    }
  }
}